* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* -----------Header-------*/ 
.cabecalho {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    max-width: 2800px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 65px;
    border-radius: 25px;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}


.cabecalho nav li a {
    font-weight: bold;
    color: darkred;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.2s ease-in-out;
}

.cabecalho nav  li a:hover {
    color: rgb(5, 170, 115);
}

/* -----------Home-------*/ 
.contanier {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

.home-contanier{
    height: 100vh;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #937341;
    font-size: 4rem;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}
   

.Katarina {
    height: 60vh;
    width: 110vh;
    padding: 5px;
}

.contanier .btn-home{
     height: 30px;
     width: 15%;
     line-height: 2;
     border: 1px solid rgb(208, 168, 92);
     color: rgb(208, 168, 92);
     flex-direction: column;
     align-items: center;
     display: flex;
     justify-content: flex-end;
     border-radius: 200rem;
     background-color: transparent;
     cursor: pointer;
     margin: 10px;
     padding: 0.5px;
     font-size: 15px;
     transition: 0.5s all ease-in-out;
}
.contanier .btn-home:hover{
    transform: scale(1.1);
    color: red;
    background-color: transparent;
    border: 1px solid red;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

p{  
    font-family: 'Lobster', cursive;
    color: #937341;
    font-size: 2.0rem;
    margin: 0.5vh;
    font-size: 1rem;
}

/* -----------Conteudo Da Modal-------*/ 
.modal {
    position: fixed;
    width: 100vw;
    height: 1000vh;
    top: 0;
    left: 0;
    background-color: rgba(52, 52, 50, 0.7);
    opacity: 0;
    visibility: hidden;
}

.conteudo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 5px;
    gap: 5px;
}

.fechar-modal {
    background-color: black;
    color: red;
    width: 35px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.modal inframe {
    border-width: 0;
    width: 640px;
    height: 360px;
}

.modal.aberto {
    opacity: 1;
    visibility: visible;
}
