* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.cabecalho {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    max-width: 2800px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 65px;
    border-radius: 25px;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}


.cabecalho nav li a {
    font-weight: bold;
    color: darkred;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.2s ease-in-out;
}

.cabecalho nav  li a:hover {
    color: rgb(5, 170, 115);
}